@font-face {
  font-family: Middle_Ages;
  src: url(../assets/fonts/MiddleAges_PERSONAL_USE.ttf);
}
@font-face {
  font-family: Middle_Ages Deco;
  src: url(../assets/fonts/MiddleAgesDeco_PERSONAL_USE.ttf);
}
@font-face {
  font-family: Ancient;
  src: url(../assets/fonts/Ancient\ Medium.ttf);
  unicode-range: U+30-39;
}
:root {
  --primary-color: #9EB389;
  --secondary-color: #1b330e;
  --primary-font: Ancient, Middle_Ages,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --decorative-font: Ancient, Middle_Ages Deco, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* --number-font: Ancient, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font);
  box-sizing: border-box;
}
body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100vw;
}
header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 5px solid var(--secondary-color);
  justify-content: space-between;
}
.logo p {
  font-family: var(--decorative-font);
  font-size: 50px;
}
.project-tab {
  display: flex;
  flex-direction: column;
}
span {
  /* font-family: var(--number-font); */
  font-size: 1.4em;
}
.project {
  display: flex;
  justify-content: space-between;
}
.project button {
  width: 70px;
  font-size: 20px;
}
.workspace {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  /* width: 10000em; */
  /* justify-content: center; */
}
.card {
  background-image: url('../assets/images/frame-work.svg');
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1em;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: balance;
  margin: 1.5em;
  padding: 2em;
  /* width: 2000px; */
  height: 35em;
  max-inline-size: 50ch;

}
.card span {
  font-size: 2em;
  max-inline-size: 30ch;
}
.card button {
  height: 20px;
  font-size: 1em;
}
.card-open {
  text-align: center;
  background-image: url('../assets/images/frame.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}